<form>
    <h1>Atualizando Livro</h1>
    <mat-form-field class="form">
        <mat-label>Título</mat-label>
        <input matInput [formControl]="titulo" required [(ngModel)]="livro.titulo" name="titulo" placeholder="Ex. Curso Spring boot com Angular 10" maxlength="100">
        <mat-error *ngIf="titulo.invalid">{{GetMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Nome Autor</mat-label>
        <input matInput [formControl]="nomeAutor" required [(ngModel)]="livro.nomeAutor" name="nome" placeholder="Ex. Jonathas"maxlength="100">
        <mat-error *ngIf="nomeAutor.invalid">{{GetMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="form" appearance="fill">
        <mat-label>Texto</mat-label>
        <textarea matInput [formControl]="texto" required  [(ngModel)]="livro.texto" name="texto" placeholder="Ex. Lorem ipsum"maxlength="2000000"></textarea>
        <mat-error *ngIf="texto.invalid">{{GetMessage()}}</mat-error>
    </mat-form-field>
    <div class="buttons">
        <button class="mat-elevation-z8" mat-stroked-button (click) = "UpdateCancel()" color="warn">Cancelar</button>
        <button [disabled]="GetMessage()" class="mat-elevation-z8" mat-stroked-button (click) ="Update()">Salvar</button>
    </div>  
</form>